@import "tailwindcss";
@import "bootstrap-icons/font/bootstrap-icons.css";

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
    themes: cmyk --default, business --prefersdark;
}

@theme {
    --font-sans: "Inter", sans-serif;
    --font-mono: "JetBrains Mono", monospace;
    --font-heading:  "Host Grotesk Variable", "Alata", sans-serif;
}

:root {
    font-feature-settings: 'liga' 1, 'calt' 1, 'cv11' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

@layer base {
    h1 {
        @apply font-heading text-4xl font-bold;
    }

    h2 {
        @apply font-heading text-2xl py-2 border-t-2;
    }

    h3 {
        @apply font-heading text-lg;
    }

    /* Custom styling for code blocks */
    pre {
        @apply my-6 p-4 rounded-md prose max-w-none border dark:border-0;
    }

}

@view-transition {
    navigation: auto;
}

.neobrutalist {
    @apply border mb-2 mr-2;
    box-shadow: 
            --spacing(2) --spacing(2) var(--color-base-content);
}