$body-bg-dark: #0B0201;
$body-bg: snow;

$dark: #0B0201;
$light: snow;

$color-mode-type: media-query;

$border-color: $dark;
$border-color-dark: $light;
$card-border-radius: 0;
$card-border-color: $dark;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

.navbar-toggler {
  border: none;
}

.full-height {
  height: calc(100svh - $navbar-brand-height - $navbar-padding-y - $navbar-padding-y - $navbar-brand-padding-y - $navbar-brand-padding-y);
}

@include media-breakpoint-up(lg) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;

    .nav-link {
      padding-top: $navbar-padding-y + $nav-link-padding-y;
      padding-bottom: $navbar-padding-y + $nav-link-padding-y;

      &.active {
        border-bottom: $nav-underline-border-width solid $nav-underline-link-active-color;
        padding-bottom: $navbar-padding-y + $nav-link-padding-y - $nav-underline-border-width;
      }
    }
  }
}

h1, h2 {
  font-family: 'Georgia', serif;
}

h2 {
  @extend .border-top, .border-dark, .border-2, .py-2;
}

.card {
  @extend .border-dark;
  box-shadow: 6px 6px $dark;
}

.card:has(.card-img-top) {
  box-shadow: 2px 2px $light, 6px 6px $dark;
}

@include color-mode(dark) {
  html {
    color-scheme: dark;
  }

  h2 {
    border-color: $light !important;
  }

  .card {
    border-color: $light !important;
  }

  .card:has(.card-img-top) {
    box-shadow: 3px 3px $dark, 6px 6px $light;
  }

  .card-footer {
    border-color: $light !important;
  }
}