$body-bg-dark: #0B0201;
$color-mode-type: media-query;

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons";

.navbar-toggler {
  border: none;
}

.svh-100 {
  height: 100svh;
}

.min-svh-100 {
  min-height: 100svh;
}

@include media-breakpoint-up(lg) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;

    .nav-link {
      padding-top: $navbar-padding-y + $nav-link-padding-y;
      padding-bottom: $navbar-padding-y + $nav-link-padding-y;

      &.active {
        border-bottom: $nav-underline-border-width solid $nav-underline-link-active-color;
        padding-bottom: $navbar-padding-y + $nav-link-padding-y - $nav-underline-border-width;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}